on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'branch name'
        required: true
        type: string
        default: 'main'

jobs:
  integration:
    runs-on: ubuntu-latest
    name: integration test
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PAT }}
          ref: ${{ github.event.inputs.branch }}

      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'

      - run: npm ci

      - name: Run integration test
        env:
          REMOTE_BRANCH: ${{ github.event.inputs.branch }}
          GITHUB_TOKEN: ${{ secrets.PAT }}
        run: node test/integration.mjs
